$rajdhani-font-path: $font-path !default;

/*@font-face {
  font-family: "rajdhani_bold";
  font-style: normal;
  font-weight: normal;
  src: local("Rajdhani Bold"), local("Rajdhani-Bold"), url("#{$rajdhani-font-path}/Rajdhani-Bold.ttf") format("truetype");
}*/

*/@font-face {
  font-family: "rajdhani_light";
  font-style: normal;
  font-weight: normal;
  src: local("Rajdhani Light"), local("Rajdhani-Light"), url("#{$rajdhani-font-path}/Rajdhani-Light.ttf") format("truetype");
}*/

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src: local("Rajdhani"), local("Rajdhani-Regular"), url("#{$rajdhani-font-path}/Rajdhani-Regular.ttf") format("truetype");
}

/*@font-face {
  font-family: "rajdhani_medium";
  font-style: normal;
  font-weight: normal;
  src: local("Rajdhani Medium"), local("Rajdhani-Medium"), url("#{$rajdhani-font-path}/Rajdhani-Medium.ttf") format("truetype");
}*/

/*@font-face {
  font-family: "rajdhani_semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Rajdhani SemiBold"), local("Rajdhani-SemiBold"), url("#{$rajdhani-font-path}/Rajdhani-SemiBold.ttf") format("truetype");
}*/
