<div id="debimeter">
  <ion-header class="navbar">
    <ion-navbar hideBackButton>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon>
      </button>
      <img center src="assets/icon/plantndrop.png" class="plant"/>
      <ion-title>RainHeart</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding >
    <h1 id="center">Debimeter</h1>
    <ion-grid class="icons">
      <ion-row>
        <ion-col>
          <p *ngIf="flow">{{flow}}</p>
        </ion-col>
        <ion-col>
          <img  src="assets/icon/faucet.png" class="faucet"/>
        </ion-col>
        <ion-col>
          <img  src="assets/icon/stop.png" class="stop"/>
        </ion-col>
        <ion-col>
          <img  src="assets/icon/pluviometer.png" class="pluviometer"/>
        </ion-col>
        <ion-col>
          <p *ngIf="rain">{{rain}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="pluviometry">
      <h2>Pluviometry</h2>
    </div>
    <div class="consumption">
      <h2>Consumption</h2>
    </div>
  </ion-content>
</div>
