$font-family-base: "Rajdhani", sans-serif !default;

page-register {

#register{
    background: #99CCFF;
    font-family: "Rajdhani";
    color: white;


    .man{
      height: 80px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }

    .field{
      background: #99CCFF;
      color: white;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
    }

    .signIn{
      text-transform:lowercase;
      text-transform: capitalize;
      color: white;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }

    .signUp{
      text-transform:lowercase;
      text-transform: capitalize;
      color: white;
      display: flex;
      min-width: 50px;
      height: 25px;
    }

    .forgotPass{
      text-transform:lowercase;
      text-transform: capitalize;
      color: white;
      display: flex;
      min-width: 80px;
      height: 25px;
    }


    #center{
      margin: auto;
    }

    .firstcol{
      height: 30%;
    }

    ion-grid {
      height: 100%;
      width: 100%;
    }

  }
}
