ion-menu{

  font-family: "Rajdhani-Bold";
  color: #99CCFF;



  .cross {
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    color: #99CCFF;
  }

  .scroll-content {
    color: #99CCFF;
    margin: auto;
    text-align: center;
    ion-list {
      .man {
        width: 80px;
        margin-top: 55px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .line {
        border-bottom: solid 2px #99CCFF;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
      }

      .input-wrapper {
        text-align: center;
        color: #99CCFF;
        font-size: 2.6rem;
      }
    }

  }



  ion-list {

  }
}
