<ion-content padding id="welcome">
  <ion-grid fixed>
    <div id="center">
      <ion-row>
        <ion-col>
          <h1>RainHeart</h1>
          <img center text-center src="assets/icon/Rain.png" class="drop"/>
          <img center src="assets/icon/plant.png" class="plant"/>
        </ion-col>
      </ion-row>

      <div class="wrongFill">
        <span *ngIf="invalidMail">No user found with this mail</span>
        <span *ngIf="invalidPassword">Wrong password</span>
        <span *ngIf="emptyParameter">Make sure you filled all fields</span>
      </div>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="field">
              <ion-label color="primary" stacked>Mail</ion-label>
              <ion-input autocomplete="on" type="email" placeholder="" [(ngModel)]="userData.email"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item class="field">
              <ion-label color="primary" stacked>Password</ion-label>
              <ion-input autocomplete="on" type="password" color="primary" placeholder="" [(ngModel)]="userData.password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button color="light" outline="true" round="true"
          small="true" class="signIn" (click)="signin()">
            Sign in
          </button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row id="foot">
      <ion-col>
        <button ion-button color="light" outline="true" round="true"
        small="true" class="signUp" (click)="register()">
          Sign up
        </button>
        <button ion-button color="light" outline="true" round="true"
        small="true" class="forgotPass" (click)="forgot()">
          Forgot password?
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
